html {
  font-size: 16px;
}

html body #app {
  font-family: 'PingFangSC-Regular', 'PingFang SC', 'ArialMT', 'Arial', 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  max-width: 100vw;
  min-height: 100vh;
}

@font-face {
  font-family: 'DIN Alternate Bold';
  src: url('/fonts/DIN Alternate Bold.otf')
}

.font__amount {
  font-family: 'DIN Alternate Bold';
}

[v-cloak] {
  display: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before, q:after {
  content: ''
}

fieldset, img, abbr, acronym {
  border:0
}

a {
  text-decoration: none;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar { /* 滚动条整体部分 */
  display: none;
}
::-webkit-scrollbar-track-piece { /*内层轨道，滚动条中间部分 */
  background-color: white;
}
::-webkit-scrollbar:horizontal {
  height: 0;
  margin-bottom: 2px;
}
::-webkit-scrollbar-track-piece { /*内层轨道，滚动条中间部分 */
  background-color: white;
}
::-webkit-scrollbar-thumb { /* 滑块 */
  width: 0;
  background: #cbcbcb;
}
::-webkit-scrollbar-thumb:hover { /* 鼠标移入滑块 */
  background: #909090;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
